Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import seaborn as sns
import dtale
import sklearn

Load data

In [2]:
titanic=sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

Clean and prepare

In [3]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [4]:
titanic.duplicated().sum()

107

In [5]:
titanic.drop_duplicates(inplace=True,ignore_index=True)
titanic.duplicated().sum()

0

In [6]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            106
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           582
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
dtale.show(titanic)

In [ ]:
sns.heatmap(titanic.corr())
plt.show()

In [ ]:
D=titanic.corr().iloc[[0]]
D

In [ ]:
titanic['deck']=titanic['deck'].cat.add_categories('NA')
#titanic.fillna('NA',inplace=True)
titanic['deck'].fillna(value='NA',inplace=True)
titanic['deck'].isnull().sum()

In [ ]:
titanic['deck'].dtype

In [ ]:
titanic.isnull().sum()

In [ ]:
titanic['age_available']=titanic['age'].isnull().astype('int')

In [ ]:
titanic['age_available']

In [ ]:
titanic['age'].fillna(value=-1,inplace=True)

In [ ]:
titanic.isnull().sum()

In [ ]:
titanic=titanic[titanic['embark_town'].notna()]

In [ ]:
titanic.isnull().sum()

Data is clean now

In [ ]:
titanic

In [ ]:
df=pd.get_dummies(data=titanic)

In [ ]:
df.describe(include='all')

In [ ]:
df.head()

In [ ]:
y=df['survived']
x=df.drop(columns='survived',axis=1)

In [ ]:
x.head()

In [ ]:
y.head()

In [ ]:
from sklearn import model_selection
X_train,X_test,y_train,y_test=model_selection.train_test_split(x,y,test_size=0.25)

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier

In [ ]:
logistic_reg_pipeline=Pipeline([('Scalar',StandardScaler()),('PCA',PCA(n_components=4)),('Logistic_Regression',LogisticRegression())])

In [ ]:
random_forest_pipeline=Pipeline([('Scalar',StandardScaler()),('PCA',PCA(n_components=4)),('Random_forest',RandomForestClassifier())])

In [ ]:
logistic_reg_pipeline.fit(X_train,y_train)

In [ ]:
logistic_reg_pipeline.score(X_test,y_test)

In [ ]:
random_forest_pipeline.fit(X_train,y_train)

In [ ]:
random_forest_pipeline.score(X_test,y_test)

In [ ]:
from sklearn.metrics import roc_curve
import matplotlib.pyplot as plt
from sklearn.metrics import roc_auc_score

In [ ]:
y_pred=random_forest_pipeline.predict_proba(X_test)[:,1]

In [ ]:
y_pred

In [ ]:
fpr,tpr,thresholds=roc_curve(y_test,y_pred)

In [ ]:
fpr

In [ ]:
tpr

In [ ]:
thresholds

In [ ]:
plt.plot([0,1],[0,1],'k--')
plt.plot(fpr,tpr,label='Random Forest')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.show()

In [ ]:
auc_score=roc_auc_score(y_test,random_forest_pipeline.predict(X_test))
auc_score

In [ ]:
y_pred=logistic_reg_pipeline.predict_proba(X_test)[:,1]
fpr,tpr,thresholds=roc_curve(y_test,y_pred)
plt.plot([0,1],[0,1],'k--')
plt.plot(fpr,tpr,label='Logistic Regression')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.show()
auc_score=roc_auc_score(y_test,logistic_reg_pipeline.predict(X_test))
auc_score

In [ ]:
y_pred=logistic_reg_pipeline.predict_proba(X_test)[:,1]
fpr,tpr,thresholds=roc_curve(y_test,y_pred)
plt.plot([0,1],[0,1],'k--')
plt.plot(fpr,tpr,label='Logistic Regression')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.show()
auc_score=roc_auc_score(y_test,logistic_reg_pipeline.predict(X_test))
auc_score

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report
import warnings
warnings.filterwarnings('ignore')
model=[LogisticRegression(),GaussianNB(),SVC(),DecisionTreeClassifier()]
for m in model:
    m.fit(X_train,y_train)
    m.score(X_train,y_train)
    pred=m.predict(X_test)
    print('Accuraccy of ',m,' is: ')
    print(accuracy_score(pred,y_test))
    print(confusion_matrix(y_test,pred))
    print(classification_report(y_test,pred))
    print("---"*10)
    print('\n')

In [ ]:
from sklearn.externals import joblib
joblib.dump(,'NBG.pkl')